<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="apps.studios.bt.studentlink">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.groups.UploadFile"></activity>
        <activity android:name=".view.profile.EditActivity" />
        <activity android:name=".view.profile.StudentProfile" />
        <activity android:name=".view.profile.EditProfile" />
        <activity android:name=".view.auth.SignUp" />
        <activity android:name=".view.search.SearchActivity" />
        <activity android:name=".view.groups.GroupActivity" />
        <activity android:name=".view.settings.SettingsActivity" />
        <activity android:name=".view.auth.LoginActivity" />
        <activity android:name=".view.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>